{% extends 'padre/base.html' %}
{% load static %}
{% block presentacion %}
  <section id="presentacion">
    <div class="contenedor">
      <div class="diapositiva">
      <div id="diapo_1">
        <div class="ima">
        <img src={% static "images/hotel.jpg" %} alt=""/>
        </div>
              <div class="texto">
                <h2>AUTOS <span>ESCALADA - GROSSO<span></h2>
                <p>La Distinción de un estilo único </p>
              </div>
      </div>

      <div id="diapo_1">
        <div class="ima">
           <img src={% static "images/hotel.jpg" %}alt=""/>
         </div>
       </div>
  
      <div id="diapo_2">
       <div class="ima">
          <img src={% static "images/hotel.jpg" %}alt=""/>
        </div>
      </div>
  
      <div id="diapo_3">
        <div class="ima">
          <img src={% static "images/hotel.jpg" %} alt=""/>
        </div>
      </div>
      <div id="diapo_3">
        <div class="ima">
          <img src="images/hotel.jpg" alt=""/>
        </div>
      </div>
  
     
  
      </div>
    </div>
{% comment %}   
    <ul class="comandoPunto">
    <li><a title="Diapositiva 1" href="#diapo_1">Diapositiva 1</a>
    </li>
    <li><a title="Diapositiva 2" href="#diapo_2">Diapositiva 2</a>
    </li>
    <li><a title="Diapositiva 3" href="#diapo_3">Diapositiva 3</a>
    </li>
    <li><a title="Diapositiva 3" href="#diapo_3">Diapositiva 3</a>
    </li>
   
    </ul> {% endcomment %}
    
  </section>
  {% endblock presentacion %}
 
  <div class="gallery">
    <div class="thumbnail">
      <div class="bordeInterno">
      <img src="images/friends-clinking-drink-glasses-in-modern-bar.jpg" alt="">
      <h2 class="placeres">Disfrute</h2>
      
      <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Numquam quasi est similique libero esse ad laborum tenetur nulla, cupiditate iusto animi aspernatur maiores quod blanditiis quis adipisci ipsum! Minus, praesentium.</p>
    </div>
    </div>
    <div class="thumbnail">
      <div class="bordeInterno">
      <img src="images/friends-clinking-drink-glasses-in-modern-bar.jpg" alt="">
      <h2 class="placeres">Descanse</h2>
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consectetur expedita accusamus, consequuntur, aspernatur sequi reprehenderit odit quasi mollitia tenetur officia impedit voluptate deleniti cumque ducimus inventore, nam nihil suscipit? Laboriosam?</p>
    </div>
    </div>
    <div class="thumbnail">
      <div class="bordeInterno">
      <img src="images/friends-clinking-drink-glasses-in-modern-bar.jpg" alt="">
      <h2 class="placeres">Diviértase</h2>
      
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum vel porro sint odit aspernatur, fugiat nihil modi ipsum deserunt delectus incidunt at itaque cupiditate neque similique a tempore ex placeat.</p>
    </div>
    </div>
    
   
  </div>
  <!-- Parallax Section -->
  <section class="banner">
    <h2 class="parallax">MIRADOR MONTE</h2>
    <p class="parallax_description">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam</p>
  </section>
  <!-- More Info Section -->


