{% extends 'padres/base.html' %}
{% load static %}

{% block titulo_pagina %}
<title>Página no encontrada</title>
{% endblock titulo_pagina %}

{% block contenedor %}
{% block cabezera %}
        <header class="Cabecera">
            <a href="index.html" ><img src={% static "images/logo.png" %} class="logo" alt="mirador monte"></a>
        
            <nav id="contenedorPrincipal">
              <a href="#contenedorPrincipal">&#8801;</a>
              <a href="#">x</a>
              <ul class="mostrarOcultar">                
                <li><a href={% url "index" %}>La Empresa</a></li>
                <li><a href={% url "cargar" %}>Cargar Autos</a></li>                
                <li><a href={% url "ver" %}>Nuestros Autos</a></li>
                <li><a href="#ct">Contacto</a></li>
               
            </nav>
          </header>
         {% endblock cabezera %}
 
<h2>Página no encontrada</h2>
<p>La página que estás buscando no está disponible en este momento</p>

{% block pie %}
<footer style="width:100%";>
<div class="copyright">-&copy;- 2022  <strong>ESCALADA - GROSSO</strong>

  <div class="redes">
    <img src={% static "images/face.svg" %} alt="Facebook" class="rotate">
    <img src={% static "images/insta.svg" %} alt="Instagram" class="rotate">
    <img src={% static "images/what.svg" %} alt="Whatsap"class="rotate">
  </div>
</div>    
{% endblock pie %}   

{% endblock contenedor %}